.footer {
	background-color: #333;
	color: #fff;
	padding: 20px;
	text-align: center;
}

.whatsapp-link {
	color: #25d366;
	text-decoration: none;
	font-weight: bold;
}

.whatsapp-link:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 600px) {
	:root {
		--input-width: 97%;
	}
}

@media only screen and (max-width: 531px) {
	:root {
		--input-width: 95%;
	}
}

@media only screen and (max-width: 350px) {
	:root {
		--input-width: 94%;
	}
}
